{{#async "World" inverse="true"}}
    <p>Hello {{output}}</p>
{{else}}
    <p>Goodbye {{output}}</p>
{{/async}}

{{#async "Handlebars" inverse="false"}}
    <p>Hello {{output}}</p>
{{else}}
    <p>Goodbye {{output}}</p>
{{/async}}